.a{width: 500px;height: 500px;margin: auto auto;}
.row_a{text-align: center;margin: 20px auto;}
.row_b{margin-left: 33%;}
.row_c{margin-left: 33%;}
.row1{margin-top: 20px;margin-left: 42%}
.row1_a{float: left;}
.row1_b{margin-left: 40px;margin-top: 10px;}
